workflow/job_finder_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -48
      ],
      "id": "d762e467-2345-40ea-be44-a06568a5446e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://himalayas.app/jobs/api/search?q=data+analyst&country=France&limit=20",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -48
      ],
      "id": "cceb227a-3485-4545-9475-65d3f9412c97",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are job listings:\n{{ JSON.stringify($json.jobs.slice(0, 10).map(j => ({ \n    title: j.title, \n    company: j.companyName, \n    seniority: j.seniority, \n    link: j.applicationLink,\n    excerpt: j.excerpt.slice(0, 50)\n}))) }}\n\nI am a junior Data & AI Analyst with skills in Python, pandas, sklearn, Power BI, SQL, Machine Learning, LangChain and AI agents.\n\nPick the TOP 5 most relevant jobs for my profile.\nFor each job return:\n- Job title\n- Company name  \n- Seniority\n- Why it matches my profile (1 sentence)\n- Application link",
        "messages": {
          "messageValues": [
            {
              "message": "=Here are job listings in JSON format: {{ $json.jobs }}  I am a junior Data & AI Analyst with skills in: - Python (pandas, sklearn, matplotlib) - Power BI - SQL - Machine Learning (clustering, classification) - LangChain and AI agents - Web analytics  Pick the TOP 5 most relevant jobs for my profile. For each job return: - Job title - Company name - Seniority - Why it matches my profile (1 sentence) - Application link"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        -48
      ],
      "id": "2925c2eb-f995-4389-ab01-83f9dcf29fa6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "d60075c7-a8e2-42de-a430-dc5a3b997336",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "yZiZFXLhHgXpdHxn",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "houdabsa7@gmail.com",
        "subject": "🎯 Top Data Analyst Jobs Today in France",
        "message": "={{ $json.text.replace(/\\n/g, '<br>').replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        -48
      ],
      "id": "d4a39fd7-9531-4afa-9131-81cda3b7ca1c",
      "name": "Send a message",
      "webhookId": "94d488a9-1758-490c-a993-1cf75a21b1aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "DP0l7XeSBA78frJt",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b17adad2-fa4a-484e-aaa4-7f8d840ef54d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa2ee9187c344f5c7f92ff030fe997aaccc4fcfe62538797c21bcf797ac0d5c4"
  },
  "id": "dPeGFmlIynQS5rdC",
  "tags": []
}